@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Nunito:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
.w-100 {
  height: 100vh;
}

.header-area {
  font-family: "Nunito", sans-serif;
}
.header-area .navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header-area .navbar img {
  width: 170px;
  height: auto;
  margin-top: -20px;
  margin-bottom: -10px;
}
.header-area .navbar h5 {
  margin-top: 10px;
  margin-bottom: -10px;
  font-size: 16px;
  font-style: italic;
}
.header-area .nav-item {
  font-size: 18px;
  margin-right: 30px;
  text-transform: uppercase;
}
.header-area .nav-item a {
  color: #0f0f0f;
}
.header-area .nav-item a:hover {
  color: #e81828;
}
.header-area .navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background: #f5f5f5;
}

.slider-area {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
}
.slider-area .carousel-item {
  height: 100vh;
  min-height: 300px;
}
.slider-area .carousel-caption {
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  z-index: 2;
}
.slider-area .carousel-caption h5 {
  font-size: 47px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.slider-area .carousel-caption h2 {
  font-size: 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.slider-area .carousel-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.about-area {
  font-family: "Nunito", sans-serif;
}
.about-area .about-title h2 {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.about-area .about-slogan h5 {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-style: italic;
  letter-spacing: 2px;
}
.about-area .about-content p {
  font-size: 22px;
}
.about-area .about-btn a {
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 1px;
  padding: 12px;
  background-color: #e81828;
  border-color: #e81828;
  font-weight: bold;
}
.about-area .about-btn a:hover {
  background-color: #ba131f;
}
.about-area .about-logo img {
  width: 365px;
  height: auto;
}

.services-area {
  font-family: "Nunito", sans-serif;
}
.services-area .services-title h2 {
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.services-area .services-label h5 {
  font-size: 25px;
}
.services-area .services-btn a {
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 1px;
  padding: 12px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #e81828;
  border-color: #e81828;
  font-weight: bold;
}
.services-area .services-btn a:hover {
  background-color: #ba131f;
}

.footer-area {
  font-family: "Nunito", sans-serif;
}
.footer-area a img {
  width: 250px;
  height: auto;
}
.footer-area .footer-label {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 23px;
}
.footer-area .list-inline-item i {
  font-size: 27px;
  margin-left: -5px;
  margin-right: -2px;
}
.footer-area .nav-item:hover {
  background-color: yellow;
  color: #e81828;
}
.footer-area .footer-nav a {
  color: #f5f5f5;
  text-decoration: none;
}
.footer-area .footer-nav a:hover {
  color: #e81828;
}

@media only screen and (max-width: 576px) {
  .footer-area .footer-contact .col-10 {
    text-align: justify;
  }
}
@media only screen and (max-width: 992px) {
  .header-area .navbar a h5 {
    text-align: left;
  }
  .header-area .navbar .nav-item {
    text-align: center;
  }
  .slider-area .carousel-caption h5 {
    font-size: 30px;
  }
  .slider-area .carousel-caption h2 {
    font-size: 43px;
  }
  .about-area .about-title,
  .about-area .about-slogan,
  .about-area .about-content,
  .about-area .about-btn {
    text-align: center;
  }
  .about-area .about-title h2,
  .about-area .about-title h5,
  .about-area .about-title p,
  .about-area .about-slogan h2,
  .about-area .about-slogan h5,
  .about-area .about-slogan p,
  .about-area .about-content h2,
  .about-area .about-content h5,
  .about-area .about-content p,
  .about-area .about-btn h2,
  .about-area .about-btn h5,
  .about-area .about-btn p {
    text-align: center;
  }
  .about-area .about-title h2 {
    font-size: 35px;
  }
  .about-area .about-slogan h5 {
    font-size: 24px;
  }
  .about-area .about-content p {
    font-size: 18px;
  }
  .about-area .about-logo img {
    margin-top: 30px;
  }
  .services-area .services-label {
    margin-bottom: 40px;
  }
  .footer-area .footer-brand {
    text-align: center;
  }
  .footer-area .footer-sitemap {
    text-align: center;
  }
  .footer-area .footer-contact .footer-label,
  .footer-area .footer-contact .col-2 {
    text-align: center;
  }
  .footer-area .footer-logo img {
    width: 160px;
    height: auto;
  }
  .footer-area .list-inline-item {
    margin-right: -5px;
  }
}
@media only screen and (max-width: 1200px) {
  .header-area .navbar a h5 {
    font-size: smaller;
  }
  .header-area .navbar a img {
    width: 170px;
    height: auto;
    margin-top: -20px;
    margin-bottom: -10px;
  }
  .header-area .nav-item {
    margin-right: 15px;
  }
  .about-area .about-logo img {
    width: 300px;
    height: auto;
  }
}/*# sourceMappingURL=style.css.map */