@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=Nunito:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");

// Primary colors
$white: #f5f5f5;
$black: #0f0f0f;
$darker-grey: #2d2d2d;
$dark-grey: #333333;
$red: #e81828;

// Darken primary colors
$darken-red: darken(
	$color: #e81828,
	$amount: 10,
);

.footer-area {
	font-family: "Nunito", sans-serif;

	a {
		img {
			width: 250px;
			height: auto;
		}
	}

	.footer-label {
		font-family: "Barlow", sans-serif;
		font-size: 18px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 23px;
	}

	.list-inline-item {
		i {
			font-size: 27px;
			margin-left: -5px;
			margin-right: -2px;
		}
	}

	.nav-item:hover {
		background-color: yellow;
		color: $red;
	}

	.footer-nav {
		a {
			color: $white;
			text-decoration: none;
		}

		a:hover {
			color: $red;
		}
	}
}

// sm
@media only screen and (max-width: 576px) {
	.footer-area {
		.footer-contact {
			.col-10 {
				text-align: justify;
			}
		}
	}
}

// lg
@media only screen and (max-width: 992px) {
	.footer-area {
		.footer-brand {
			text-align: center;
		}

		.footer-sitemap {
			text-align: center;
		}

		.footer-contact {
			.footer-label,
			.col-2 {
				text-align: center;
			}
		}

		.footer-logo {
			img {
				width: 160px;
				height: auto;
			}
		}

		.list-inline-item {
			margin-right: -5px;
		}
	}
}